@import "static/w98/var/colors";
@import "static/w98/mixins/box-shadows";
@import "static/w98/var/var";
@import "static/w98/var/uris";

$windowPadding: 3px;

@mixin onDisplay($direction: "right") {
  > .window,
  > .Frame {
    position: absolute;
    visibility: hidden;
    width: auto;
    @media (min-height: 720px) and (min-width: 960px) {
      transition: max-width cubic-bezier(0.38, 0.01, 0, 1) 200ms,
        max-height cubic-bezier(0.38, 0.01, 0, 1) 200ms;
    }
  }
  &.active {
    > .window,
    > .Frame {
      width: auto;
      visibility: visible;
    }
  }
  @if $direction == "right" {
    > .window,
    > .Frame {
      left: calc(100% - 3px);
      top: -$windowPadding;
      max-width: 0%;
    }
    &:hover,
    &.active {
      > .window,
      > .Frame {
        max-width: 400%;
      }
    }
  } @else if $direction == "left" {
    > .window,
    > .Frame {
      left: -100%;
      top: -$windowPadding;
      max-width: 0%;
    }
    &:hover,
    &.active {
      > .window,
      > .Frame {
        max-width: 100%;
      }
    }
  } @else if $direction == "top" {
    > .window,
    > .Frame {
      bottom: calc(100% + $windowPadding);
      left: 0px;
      height: 0px;
      max-height: 0%;
      max-width: 100%;
    }
    &:hover,
    &.active {
      > .window,
      > .Frame {
        height: initial;
        max-height: 100%;
      }
    }
  } @else if $direction == "bottom" {
    > .window,
    > .Frame {
      top: calc(100% + $windowPadding);
      left: 0px;
      max-height: 0%;
      max-width: 100%;
    }
    &:hover,
    &.active {
      > .window,
      > .Frame {
        height: initial;
        max-height: 100%;
      }
    }
  }
}

@mixin standard-menu($menu-name: "div") {
  display: inline-flex;
  flex-direction: column;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: clip;
  > div {
    position: relative;
    > button {
      user-select: none;
      position: relative;
      display: block;
      width: 100%;
      padding: 0px 20px 0px 28px;
      text-align: left;
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: 3px center;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      height: 20px;
      &:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-position: center;
      }
      #{$menu-name}__item__text {
        padding: 0px 20px 0px 0px;
      }

      &:disabled,
      &.disabled {
        color: $darkgrey;
      }

      &:not(:only-child) {
        &:after {
          content: "";
          position: absolute;
          background-image: url($arrow-right);
          top: 0px;
          left: 0px;
          height: 100%;
          width: calc(100% - 8px);
          background-position: right center;
          background-repeat: no-repeat;
        }
      }
    }
    &.radio-selected {
      > button {
        &:before {
          background-image: url($menu-radio);
        }
      }
    }
    &.checked {
      > button:before {
        background-image: url($menu-checked);
      }
      &.disabled {
        > button:before {
          background-image: url($menu-checked-disabled);
        }
      }
    }
    &.active,
    &.clicked {
      color: #ffffff;
      > button:not(.disabled) {
        color: #ffffff;
        background-color: $blue;
        &:not(:only-child) {
          // stylelint-disable-next-line
          &:after {
            background-image: url($arrow-right-inverted);
          }
        }
      }
    }
    @include onDisplay("right");
  }

  // hack divider handling
  > div:empty:not(:only-child) {
    position: relative;
    width: 95%;
    margin: 2px auto;
    border-top: 1px solid $darkgrey;
    border-bottom: 1px solid #ffffff;
    display: none;
  }
  > div:not(:empty) + div:empty {
    // stylelint-disable-next-line
    &:not(:last-child):not(:first-child) {
      display: block;
    }
  }
}

@mixin standard-menu-css($menu-name: "div") {
  &.css {
    div {
      &__sub-menu--top {
        @include onDisplay("top");
      }
      &__sub-menu--bottom {
        @include onDisplay("bottom");
      }
      &__sub-menu--left {
        @include onDisplay("left");
      }

      &:active,
      .active {
        display: none;
      }

      &:hover {
        > .window,
        > .Frame {
          width: auto;
          visibility: visible;
          display: block;
        }
        > button {
          background-color: $blue;
          color: #ffffff;
          &:after {
            background-image: url($arrow-right-inverted);
          }
        }
        &.checked {
          > *:before {
            background-image: url($menu-checked-disabled);
          }
        }
      }
    }
  }
}
