/* stylelint-disable selector-pseudo-class-no-unknown */
@import "./var/var";
@import "./var/colors";
@import "./mixins/box-shadows";
@import "./var/uris";
@import "./var/fontBackup";
@import "./var/cursors.scss";

// @font-face {
//   font-family: "MSFont";
//   src: url($ms11) format("woff2");
// }
// @font-face {
//   font-family: "MSFont11";
//   src: url("./fonts/ms98s11a10d02.ttf") format("ttf");
// }

// sourced from https://github.com/1000hz/winmine-exe/tree/master/static/fonts
@font-face {
  font-family: MSSansSerif;
  src: url($msSansSerif);
  font-weight: normal;
}
@font-face {
  font-family: MSSansSerif;
  src: url($msSansSerifBold);
  font-weight: bold;
}

@mixin scrollbar-button-shadowing {
  background: $grey;
  box-shadow: inset -1px -1px 0px $darkgrey, inset 1px 1px 0px 0px #ffffff;
  border: 1px solid $black;
  border-top: 1px solid $grey;
  border-left: 1px solid $grey;
}

html {
  font-size: $base-font-size;
  cursor: url($cursor), default;

  button {
    font-size: $base-font-size;
  }

  menu {
    padding: 0px;
    margin: 0px;
  }

  body {
    font-family: MSSansSerif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-width: 200px;
    //height: 100%;
    //width: 100%;
    //padding: 0;
    //overflow: hidden;
    margin: 0px;
    background-color: #008081 !important;
    image-rendering: pixelated;
    -webkit-font-smoothing: antialiased;

  }

  .disabled {
    color: $darkgrey;
  }
}

.w98 {
  font-family: MSSansSerif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  position: relative;
  transform: scale(1);
  *,
  & {
    font-family: MSSansSerif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    cursor: url($cursor), default;

    .default {
      cursor: url($cursor), default;
    }

    /* core resizers */
    /* stylelint-disable */
    .ns-resize {
      cursor: url($arrowUpDown), ns-resize !important;
    }
    .ew-resize {
      cursor: url($arrowLeftRight), ew-resize !important;
    }
    .nesw-resize {
      cursor: url($angleUpRight), nesw-resize !important;
    }
    .nwse-resize {
      cursor: url($angleUpLeft), nwse-resize !important;
    }

    .wait,
    .wait * {
      cursor: url($wait), wait !important;
    }

    .wait2,
    .wait2 * {
      cursor: url($wait2), wait !important;
    }
    .text,
    input[type="text"],
    textarea,
    .text * {
      cursor: url($text), text !important;
    }
    /* stylelint-enable */
    .none {
      cursor: none;
    }
    //.help {
    //  cursor: url(./cursors/Hand-min.png), help;
    //}
    //.pointer {
    //  cursor: url(./cursors/HandPointer-min.png), pointer;
    //}
    //// .progress {
    ////   cursor: url(./cursors/), progress;
    //// }
    //.crosshair {
    //  cursor: url(./cursors/Crosshair-min.png), crosshair;
    //}
    //.vertical-text {
    //  cursor: url(./cursors/VText-min.png), vertical-text;
    //}
    //// .alias {
    ////   cursor: url(./cursors/), alias;
    //// }
    //.copy {
    //  cursor: url(./cursors/Copy-min.png), copy;
    //}
    //.move {
    //  cursor: url(./cursors/Move-min.png), move;
    //}
    //.no-drop {
    //  cursor: url(./cursors/NO-min.png), no-drop;
    //}
    //.not-allowed {
    //  cursor: url(./cursors/NO-min.png), not-allowed;
    //}
    //.grab {
    //  cursor: url(./cursors/Hand-min.png), grab;
    //}
    //.grabbing {
    //  cursor: url(./cursors/Handsqueezed-min.png), grabbing;
    //}
    //.col-resize {
    //  cursor: url(./cursors/ColRezise-min.png), col-resize;
    //}
    //.row-resize {
    //  cursor: url(./cursors/RowResize-min.png), row-resize;
    //}
    //.n-resize {
    //  cursor: url(./cursors/UpArrow-min.png), n-resize;
    //}
    //.e-resize {
    //  cursor: url(./cursors/LeftArrow-min.png), e-resize;
    //}
    //.s-resize {
    //  cursor: url(./cursors/DownArrow-min.png), s-resize;
    //}
    //.w-resize {
    //  cursor: url(./cursors/RightArrow-min.png), w-resize;
    //}
    //.ne-resize {
    //  cursor: url(./cursors/UpRightArrow-min.png), ne-resize;
    //}
    //.nw-resize {
    //  cursor: url(./cursors/UpLeftArrow-min.png), nw-resize;
    //}
    //.se-resize {
    //  cursor: url(./cursors/DownRightArrow-min.png), se-resize;
    //}
    //.sw-resize {
    //  cursor: url(./cursors/DownLeftArrow-min.png), sw-resize;
    //}
    //.zoom-in {
    //  cursor: url(w98/cursors/ZoomIn-min.png), zoom-in;
    //}
    //.zoom-out {
    //  cursor: url(./cursors/ZoomOut-min.png), zoom-out;
    //}
  }
  &.x2 {
    *,
    & {
      cursor: url($cursorX2), default;
    }
    transform: scale(2);
  }

  /* stylelint-disable selector-max-specificity */
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    background-image: url($grey-checkered);

    &-track {
      position: relative;
    }

    &-thumb {
      @include scrollbar-button-shadowing();
    }

    &-button {
      @include scrollbar-button-shadowing();
      &:start:decrement,
      &:end:increment {
        height: 16px;
        width: 16px;
        display: block;
        background-repeat: no-repeat;
        background-color: $grey;
        &:active {
          border: 1px solid $darkgrey;
          box-shadow: none;
          background-color: $grey;
        }
      }

      &:horizontal:decrement {
        background-image: url($arrow-left);
        background-position: 4px 3px;
        &:active {
          background-position: 5px 4px;
        }
      }
      &:horizontal:increment {
        background-image: url($arrow-right);
        background-position: 5px 3px;
        &:active {
          background-position: 6px 4px;
        }
      }
      &:vertical:decrement {
        background-image: url($arrow-up);
        background-position: 3px 5px;
        &:active {
          background-position: 4px 6px;
        }
      }
      &:vertical:increment {
        background-image: url($arrow-down);
        background-position: 3px 5px;
        &:active {
          background-position: 4px 6px;
        }
      }
    }
    &-corner {
      /*
      background-image: url(resources/corner.png);
      background-repeat: no-repeat;
      */
      background-color: $grey;
    }
  }

  ::selection {
    color: #ffffff;
    background-color: $blue;
  }
}
